body {
  background-color: #bbb;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 2px dashed #02b3e4;
}

a:visited {
  color: inherit;
}

a:hover {
  border-bottom: 2px dashed #77e0fe;
}

img, section {
  max-width: 100%;
  background-color: #bbb;
}

.header, .wrapper {
  margin: auto 5px auto 5px;
}

figure {
  margin: 0px;
  padding: 0px;
  border: 0px black solid;
}

.container, .container-level-2, .header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {width: 100%;
}

.header-text {
  font-family: 'Bitter', serif;
}

  .articles h1 {
    width: 100%;
  }

@media screen and (max-width: 380px) {

  a {
    text-decoration: none;
    border-bottom: 1px dashed #02b3e4;
  }

  .header, .wrapper {
    margin: auto 2px auto 2px;
  }

  .header-logo {
    width: 25%;
  }

  .header-text {
    width: 75%;
    margin-bottom: -12px;
  }

  .header-text h1 {
    font-size: 40px;
    margin: -3px 2px -25px auto;
  }
  .header-text h2 {
    font-size: 15px;
    font-weight: normal;
  }

  .header-text h1, h2 {
    text-align: right;
  }

  .articles h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  .featured-article {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #888;
  }

  .box1-level-2 {
    width: 30%;
    min-width: 100px;
  }

  .box1-level-2 img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-bottom: 0px red solid;
    min-width: 100px;
  }

  .box2-level-2 {
    width: 65%;
  }

  .box2-level-2 h1 {
    font-size: 1.2em;
    margin: 2px;
    text-transform: none;
  }

  .box2-level-2 a {
    font-size: 0.8em;
    margin: 2px;
  }
}

@media screen and (min-width: 381px) and (max-width: 780px) {
  .header-logo {
    width: 25%;
  }

  .header-text {
    width: 75%;
    margin-bottom: -16px;
  }

  .header-text h1 {
    font-size: 50px;
    margin: -3px 2px -25px auto;
  }
  .header-text h2 {
    font-size: 20px;
    font-weight: normal;
  }

  .header-text h1, h2 {
    text-align: right;
  }

  .articles h1 {
    margin-top: -8px;
    font-size: 2.4em;
    text-transform: uppercase;
  }

  .featured-article {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-top: 2px solid #888;
  }

  .box1-level-2 {
    width: 50%;
    min-width: 100px;
  }

  .box1-level-2 img {
    overflow: hidden;
    width: 350px;
  }

  .box2-level-2 {
    width: 50%;
  }

  .box2-level-2 h1 {
    font-size: 2em;
    margin: 2px 2px 2px 10px;
    text-transform: none;
  }

  .box2-level-2 a {
    font-size: 1.5em;
    margin: 2px 2px 2px 10px;
  }
}

@media screen and (min-width: 781px) {

  body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    width: 33.33333%;
  }

  .header {
    margin-bottom: -60px;
  }

  .header-logo {
    height: 190px;
    width: 25%;
  }

  .header-text {
    width: 75%;
    margin-bottom: -36px;
  }

  .header-text h1 {
    font-size: 90px;
    margin: -3px 2px -45px auto;
  }
  .header-text h2 {
    font-size: 30px;
    font-weight: normal;
  }

  .header-text h1, h2 {
    text-align: right;
  }

  .hero {
    width: 100%;
    overflow: hidden;
    margin-bottom: -100px;
  }

  .articles h1 {
    margin-top: 8px;
    font-size: 3em;
    text-transform: uppercase;
  }

  #articles-title {
    color: white;
    text-shadow: 10px 10px 10px #bbb;
    margin: 10px 20px 30px 10px;
  }

  .featured-article {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-right: 0px solid #888;
    margin: 8px auto 0 auto;
  }

  .box1-level-2 {
    width: 50%;
    min-width: 100px;
  }

  .box1-level-2 img {
    overflow: hidden;
    width: 350px;
  }

  .box2-level-2 {
    width: 40%;
    padding-left: 15px;
  }

  .box2-level-2 h1 {
    font-size: 1.1em;
    text-transform: none;
    margin: -5px 0 -3px 0;
  }

  .box2-level-2 a {
    font-size: 1em;
  }
}
